@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

body.dark {
    background: #292C35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 16px;
    width: 40px;
    transform: scale(1.5);
    margin-top: 0.6%;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    height: 96%;
    width: 45%;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

#labelForToggle {
    margin-right: 1.5%;
    margin-left: 1%;
}

.fa-moon {
    color: #f1c40f;
    font-size: 80%;
}

.fa-sun {
    color: #f39c12;
    font-size: 80%;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

body.dark .panel-default .panel-heading,
body.dark .panel-default .panel-body,
body.dark .panel-default .panel-footer,
body.dark .panel-default input,
body.dark .panel-default input:focus,
body.dark input,
body.dark input:focus,
body.dark .container .card,
body.dark .modal-header,
body.dark .modal-content,
body.dark .modal-footer,
body.dark input:disabled,
body.dark select,
body.dark option,
body.dark select:focus,
body.dark .shop__thumb,
body.dark textarea,
body.dark textarea:focus {
    background-color: #30333d;
}

body.dark .alert h3,
body.dark .alert h4 {
    color: #30333d;
}

body.dark h3,
body.dark h4,
body.dark p,
body.dark li,
body.dark label,
body.dark .panel-default input,
body.dark .panel-default input:focus,
body.dark h5,
body.dark input,
body.dark input:focus,
body.dark h6,
body.dark select,
body.dark option,
body.dark select:focus,
body.dark article,
body.dark th,
body.dark td,
body.dark textarea,
body.dark textarea:focus {
    color: white;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}