body.dark {
    background: #292C35;
}

body.dark main,
body.dark header,
body.dark nav,
body.dark body nav,
body.dark body main nav,
body.dark body main div nav,
body.dark body div main div nav,
body.dark div,
body.dark div div,
body.dark div div div,
body.dark div div div div,
body.dark div div div div div,
body.dark div div div div div div,
body.dark ul,
body.dark ol,
body.dark .panel-default .panel-heading,
body.dark .panel-default .panel-body,
body.dark .panel-default .panel-footer,
body.dark .panel-default input,
body.dark .panel-default input:focus,
body.dark input,
body.dark input:focus,
body.dark .container .card,
body.dark .modal-header,
body.dark .modal-content,
body.dark .modal-footer,
body.dark input:disabled,
body.dark select,
body.dark option,
body.dark select:focus,
body.dark .shop__thumb,
body.dark textarea,
body.dark textarea:focus {
    background-color: #30333d;
}

body.dark *,
body.dark a span,
body.dark a p,
body.dark span,
body.dark label,
body.dark .panel-default input,
body.dark .panel-default input:focus,
body.dark input,
body.dark input:focus,
body.dark select,
body.dark option,
body.dark select:focus,
body.dark article,
body.dark th,
body.dark td,
body.dark textarea,
body.dark textarea:focus {
    color: white;
}